<header>
    <div class="menu">
      <div class="logo">

        <a href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
        <object type="image/svg+xml" data="{{ site.blog.logo_path | relative_url }}" class="logosvg">Your browser does not support svg images</object>
      </div>

        <ul>
            <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
            <li><a href="{{ '/archive' | prepend: site.baseurl }}">archive</a></li>
        </ul>
    </div>
    <div class="social">
      <ul>
        {% if site.author.youtube %}
        <li>
            <a href="https://youtube.com/{{ site.author.youtube }}" target="_blank" class="smaller">
              <span class="icon-youtube"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.stackoverflow %}
        <li>
            <a href="https://stackoverflow.com/{{ site.author.stackoverflow }}" target="_blank" class="smaller">
              <span class="icon-stackoverflow"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.twitter %}
        <li>
            <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="smaller">
              <i class="fab fa-twitter"></i>
            </a>
        </li>
        {% endif %}
        {% if site.author.meetup %}
        <li>
            <a href="https://www.meetup.com/{{ site.author.meetup }}" target="_blank" class="smaller">
              <i class="fab fa-meetup"></i>
            </a>
        </li>
        {% endif %}
        {% if site.author.github %}
        <li>
            <a href="https://github.com/{{ site.author.github }}" target="_blank" class="smaller">
              <i class="fab fa-github"></i>
            </a>
        </li>
        {% endif %}
        {% if site.author.mail %}
        <li>
            <a href="mailto:{{ site.author.mail }}" target="_blank">
              <span class="icon-mail_outline"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.rss == true %}
        <li>
            <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank">
              <i class="fas fa-rss"></i>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#" onclick="switchTheme()" title="Switch theme?">
              <i class="fas fa-adjust"></i>
            </a>
        </li>
      </ul>
    </div>
</header>
